html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  padding-bottom: 50px;
}

.footer {
  text-align: center;
  position: relative;
  margin-top: -75px;
  height: 75px;
  clear: both;
  padding-top: 20px;
  line-height: 10px;
}

body {
  /*Taken from CSS-tricks*/
  /* fallback */
  background-color: white;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFFFFF), to(#AAAAAA));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #FFFFFF, #AAAAAA);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #FFFFFF, #AAAAAA);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #FFFFFF, #AAAAAA);

}

td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.is-subexpression-of-selected {
  background-color: #A8AFED;
}

.large-font {
  font-size: 16px;
}

.input {
  background-color: #EEEEEE;
}

.row {
  text-align: center;
}

.table {
  margin-top: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 25px;
}

thead {
  background-color: #AAAAAA;
}

.variable {
  padding-top: 15px;
  padding-bottom: 0px;
}

.guess {
  padding-left: 15px;
  padding-right: 15px;
}

.guess-input {
  text-align: center;
}

.evaluate-button {
  margin-top: 15px;
  color: black;
}

.enter-expression {
  color: black;
}
