html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  margin-bottom: 100px;

  background-color: white;

  border-radius: 40px;
}

.footer {
  text-align: center;
  position: relative;
  margin-top: -75px;
  height: 75px;
  clear: both;
  padding-top: 20px;
  line-height: 10px;
}

body {
  background-color: lightcyan;
}

.expression-entry {
  padding-top: 100px;
}

td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.is-subexpression-of-selected {
  background-color: #A8AFED;
}

.large-font {
  font-size: 16px;
}

.input {
  background-color: #EEEEEE;
}

.table {
  margin-top: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 25px;
  text-align: center;
}

thead {
  background-color: #0099CC;
}

tbody {
  background-color: #66CCFF;
}

.variable {
  padding-top: 15px;
  padding-bottom: 0px;
}

.guess {
  padding-left: 15px;
  padding-right: 15px;
}

.guess-input {
  text-align: center;
}

.evaluate-button {
  margin-top: 15px;
  color: black;
}

.enter-expression {
  color: black;
}

.evaluation {
  text-align: center;
}
